REACT_APP_BASE_AUTH_URL="https://example-url.com"
REACT_APP_BASE_API_URL="https://example-url.com"
REACT_APP_REGISTER_DEVICE_ENDPOINT="/api/register-device"
REACT_APP_CHECK_DEVICE_ENDPOINT="/api/check-device"
REACT_APP_LOGIN_ENDPOINT="/api/auth-login"